<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DogAPI_FinalProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/DogAPI_FinalProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <section style="display:inline ;color:dodgerblue">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light text-decoration-underline  bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1 nav-fill">
                            <li class="nav-item opacity-75">
                                <a class="nav-link text-dark" style="color:dodgerblue" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item opacity-75">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Dog" asp-action="GetDogBreeds">All Breeds</a>
                            </li>
                            <li class="nav-item opacity-75">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="DogGif">Dog GIF</a>
                            </li>
                            <li class="nav-item opacity-75">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CatGif">Cat GIF</a>
                            </li>
                            <li class="nav-item opacity-75">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login/Sign-in</a>
                            </li>
                            <li class="nav-item opacity-75">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                            <li class="nav-item opacity-75">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li><li class="nav-item opacity-75">
                                <a class="nav-link text-dark" asp-area="" asp-controller="FileUpload" asp-action="Upload">Upload Photos</a>
                            </li>
                            <li class="nav-item opacity-75">
                                <div id="sb-search" class="border-5">
                                    @using (Html.BeginForm("GetDogByBreed", "Dog", FormMethod.Get))
                                    {
                                        <div id="sb-search" class= "sb-search">
                                            <input name="Breed" type="search"  class="form-control" placeholder="Search Breed" />
                                        </div>

                                    }
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2022 - DogAPI_FinalProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
