<style>
    body{
        background-color: black;
    }
</style>


<h3 style="color:dodgerblue">Why should I register?</h3>

<p></p>
<p style="color:dodgerblue">Creating an account with us allows you to add animals to the database as well as photos. </p>
<p style="color:dodgerblue">You will also have acces to any future API's as we increase functionality '</p>

