<div>
    <br />
    <br />
</div>

<div class="container mucho-margin-top">

    <div>
        <h1 class="display-2" ; style="color:dodgerblue">File Upload</h1>
        <h3 style="color:dodgerblue">Choose a file to upload from your computer. The file will be stored in the <span style="color: red;">uploaded</span> folder, inside of the <span style="color: red;">wwwroot</span> folder.</h3>
    </div>

    @using (Html.BeginForm("Upload", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">

            <div class="form-group col-md-6" ; style="margin-right:auto; padding-right:20em">
                <input type="file" class="form-control" name="formFile" />
            </div>
            <div class="form-group col-md-6" ; style="color:dodgerblue; padding-right:60em">
                <input type="submit" name="filesubmit" value="Upload" />
            </div>
        </div>
    }
</div>
<li style="display:inline; padding-right:1000px"> 

    <a style="color:dodgerblue ;padding-right 1000px" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

</li>