<!DOCTYPE html>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Dog"))
        {
            <h2 style="color: dodgerblue">Your role is dog</h2>
        }
        else
        {
            <h2 style="color: dodgerblue">Your role is a dog trainer</h2>
        }
    }

</div>

<div class="text-center">
    <h1 class="display-4" style="color: dodgerblue">Welcome To The Dog Database</h1>


    <h4 class="card-subtitle" style="color :dodgerblue">Some of My Favorite Breeds</h4>

</div>


<div id="multi-item-example" class="carousel slide carousel-multi-item pointer-event" data-ride="carousel">

    @*<a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev" style="left:-165px">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next" style="right: -165px">
        <span class="carousel-control-next-icon" style="background-color: black" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>*@
    <div class="carousel-inner" role="listbox">

        <div class="carousel-item active">

            <div class="col-md-3" style="float:left">
                <div class=" card mb-2">
                    <img class="card-img-top" style="width:auto ; height: auto"
                         src="~/images/Australian-Cattle-Dog-laying-down.jpg" alt="Australian Cattle Dog.jpg" />
                    <div class="card-body">
                        <h4 class="card-title" style="font-size : 20px ; color :dodgerblue">Australian Cattle Dog</h4>
                        <p class="card-text" style=" color : dodgerblue">
                            The Australian Cattle Dog is an extremely intelligent, active, and sturdy dog breed. Developed by Australian settlers to handle herds of cattle on expansive ranches, they’re still used today as a herding dog.
                            They thrive on having a job to do and on being part of all family activities.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-3" style="float:left">
                <div class=" card mb-2">
                    <img class="card-img-top" style="width:auto ; height: auto"
                         src="~/images/Golden Retriever.jpg" alt="Golden Retriever.jpg" />
                    <div class="card-body">
                        <h4 class="card-title" style="font-size : 20px ; color :dodgerblue">Golden Retriever</h4>
                        <p class="card-text" style=" color : dodgerblue">
                            The Golden Retriever is one of the most popular dog breeds in the United States. The breed’s friendly, tolerant attitude makes them great family pets, and their intelligence makes them highly capable working dogs.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-3" style="float:left">
                <div class=" card mb-2">
                    <img class="card-img-top" style="width:auto ; height: auto"
                         src="~/images/Siberian-Husky-dog.jpg" alt="Siberian-Husky-dog.jpg" />
                    <div class="card-body">
                        <h4 class="card-title" style="font-size : 20px ; color :dodgerblue">Siberian Husky</h4>
                        <p class="card-text" style=" color : dodgerblue">
                            The Siberian Husky dog breed has a beautiful, thick coat that comes in a multitude of colors and markings. 
                            Their blue or multi-colored eyes and striking facial masks only add to the appeal of this breed, which originated in Siberia.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-3" style="float:left">
                <div class=" card mb-2">
                    <img class="card-img-top" style="width:auto ; height: auto"
                         src="~/images/Pug.jpg" alt="Pub.jpg" />
                    <div class="card-body">
                        <h4 class="card-title" style="font-size : 20px ; color :dodgerblue">Pug</h4>
                        <p class="card-text" style=" color : dodgerblue">
                            The Pug is often described as a lot of dog in a small space. These sturdy, compact dogs are a part of the American Kennel Club’s Toy group, and are known as the clowns of the canine world because they have a great sense of humor and like to show off.
                        </p>
                    </div>

                </div>
            </div>

        </div>
        <div class="carousel-item">


            <div class="col-md-3" style="float:left">
                <div class=" card mb-2">
                    <img class="card-img-top" style="width:415px ; height: 500px"
                         src="~/images/Australian Cattle Dog.jpg" alt="Australian Cattle God.jpg" />
                    <div class="card-body">
                        <h4 class="card-title" style="font-size : 20px ; color :dodgerblue">Australian Cattle Dog</h4>
                        <p class="card-text" style=" color : dodgerblue">
                            The classic hearding dog, the Australian cattle Dog is increadibly smart and loyal
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-3" style="float:left">
                <div class=" card mb-2">
                    <img class="card-img-top" style="width:415px ; height: 500px"
                         src="~/images/Australian Cattle Dog.jpg" alt="Australian Cattle God.jpg" />
                    <div class="card-body">
                        <h4 class="card-title" style="font-size : 20px ; color :dodgerblue">Australian Cattle Dog</h4>
                        <p class="card-text" style=" color : dodgerblue">
                            The classic hearding dog, the Australian cattle Dog is increadibly smart and loyal
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-3" style="float:left">
                <div class=" card mb-2">
                    <img class="card-img-top" style="width:415px ; height: 500px"
                         src="~/images/Australian Cattle Dog.jpg" alt="Australian Cattle God.jpg" />
                    <div class="card-body">
                        <h4 class="card-title" style="font-size : 20px ; color :dodgerblue">Australian Cattle Dog</h4>
                        <p class="card-text" style=" color : dodgerblue">
                            The classic hearding dog, the Australian cattle Dog is increadibly smart and loyal
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-3" style="float:left">
                <div class=" card mb-2">
                    <img class="card-img-top" style="width:415px ; height: 500px"
                         src="~/images/Australian Cattle Dog.jpg" alt="Australian Cattle God.jpg" />
                    <div class="card-body">
                        <h4 class="card-title" style="font-size : 20px ; color :dodgerblue">Australian Cattle Dog</h4>
                        <p class="card-text" style=" color : dodgerblue">
                            The classic hearding dog, the Australian cattle Dog is increadibly smart and loyal
                        </p>
                    </div>

                </div>
            </div>
        
        
        
        
        </div>




    </div>

</div>


