html {
  font-size: 20px;
  background-color: black
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    background-color: black;
 
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

  font-size: 16px;

  background-repeat:no-repeat;

  background-position:center;

  background-color: black



  

}

nav{
    text-size-adjust:auto;
}

