@model GetDogsByBreedResponse
@*@foreach (var dog in Model.Dogs)
{
    <div style="color:dodgerblue; font-size: large">
       <img="https://cdn2.thedogapi.com/images/{@dog.ImageID}.jpg"> </h1>


    </div>
}
*@